{%extends 'main.html'%}
{%block content%}
<style>
    td{border:10px;
    background-color:white;
    height:150px;
    width:150px;
    margin:10px 10px 10px 10px;
    }
</style>
<div  style="padding:10px;padding-right:20%;padding-left:20%;">
<table>
    <tr><td >
        <a href="profile">

           <center>profile</center>


    </a></td>
        <td>

                <a href="address">Address</a>

        </td>
        <td>

                <a href="order_details">odered</a>

        </td>

        <td>
            <a href="saved_card">

                saved card

            </a>
        </td>
    </tr>

</table>
</div>

{%endblock%}